.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
}
  
.menu-icon:focus {
    outline: none;
}
  
.menu-icon:hover {
    cursor: pointer;
}
  
.menu-line {
    width: 24px;
    height: 3px;
    background: black;
}