.brand {
    margin-left: 1rem;
  }

.brand a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}
  
.head {
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
}
  
.spacer {
    flex: 1;
}
  
.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    height: 24px;
}
  
.navbar-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
.navbar-items li {
    padding: 0 0.5rem;
}

.navbar-items a {
    color: white;
    text-decoration: none;
}
  
.navbar-items a:hover {
    color: blue;
}